body {
    margin: 1%;
    background-image: url("/static/img/background.jpg");
}

.jumbotron {
    width: 30%;
    height: 140px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    text-align: center;
    left: 0;
    position: fixed;
    right: 0;
    bottom: 80px;
}

.btn-lg {
    background-color: rgba(255, 255, 255, 0.3);
    border: 0px;
    margin-right: 5%;
    margin-left: 5%;
}